---
layout: neon
---
<article class="box">

  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
    <p class="post-meta"><time datetime="{{ page.date | date: "%Y-%0m-%0d" }}">{{ page.date | date: "%-d %b %Y" }}</time>{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <footer>
    {% if page.comments %}
      <p>Comment on:
      {% if page.comments.twitter %}
        <a href="{{ page.comments.twitter }}" target="_blank">Twitter</a>
      {% endif %}
      </p>
    {% endif %}
  </footer>

</article>
