<!DOCTYPE html>
<html>
  
  {% include neon-head.html %}
  
  <body>

    {% include neon-header.html %}
    
    <section class="sidebar">
    
    <section class="box">
      <h3>Me elsewhere</h3>
      <dl>
        <dt>Twitter:</dt><dd><a rel="me" href="https://twitter.com/Wolf480pl/">@Wolf480pl</a></dd>
        <dt>Twister:</dt><dd>@wolf480pl</dd>
        <dt>XMPP:</dt><dd><a href="xmpp:wolf480pl@neko.im">wolf480pl@neko.im</a></dd>      
        <dt>Keybase:</dt><dd><a href="https://keybase.io/wolf480pl/">wolf480pl</a></dd>
        <dt>GitHub:</dt><dd><a href="https://github.com/Wolf480pl/">Wolf480pl</a></dd>
      </dl>
    </section>
    
    <section class="box">
      <h3>My Projects</h3>
      <ul>
        <li><a href="https://github.com/Wolf480pl/MIaS4J">MIaS4J</a> - a Java method interception framework based on ASM</li>
        <li><a href="https://github.com/Wolf480pl/ircd">ircd4j</a> - a Java IRC server library</li>
        <li>a Java implementation of <a href="https://github.com/Wolf480pl/PHPass">PHPass</a> password hashing algorithm</li>
        <li><a href="https://github.com/Wolf480pl/template-maven-plugin">template-maven-plugin</a> - a Maven plugin for generating code from trove4j-like templates</li>
        <li><a href="https://github.com/Wolf480pl/jline-log4j2-appender">jline-log4j2-appender</a> - a log4j2 appender which prints output to jline console without getting in the way of the input prompt</li>
      </ul>
    </section>
    
    </section>
    <section class="articles">
    
    <article class="box">
      <h3>About</h3>
      <p>I'm a Linux geek from Poland. I use Arch Linux with a custom DE (compiz + cairo-dock + screenlets). I like programming. 
             I know some of C, C++, Python, Lua, and Lisp, but most of the stuff I code in Java.</p>
    </article>

    {{ content }}

    </section>
</body>
</html>
